<launch>
  <arg name="model" default="burger"/>
  <param name="robot_description" command="$(find xacro)/xacro '$(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro'" />
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch" />
  <node pkg="obstacle_avoidance" type="avoid_obstacles.py" name="obstacle_avoidance" output="screen"/>
</launch>
